# Blog settings
permalink: /:title/
url: https://proxima.ankitrgadiya.in

# My variables
name: Proxima
description: A jekyll based Blog template
google_verification: d-betUTe-rYNnjpdDvm56ohoagIClOGA70fnHKYU4ec

# File management
include: [".htaccess"]
exclude: ["README.md", "LICENSE"]


# Sass
sass:
  style: :compressed
  sass_dir: _sass


# Markdown
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
highlighter: rouge
