<!DOCTYPE html>
<html>

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{{ site.description }}">
    <!-- Webmaster Verification Tag -->
    <meta name="google-site-verification" content="d-betUTe-rYNnjpdDvm56ohoagIClOGA70fnHKYU4ec" />

    {% if page.title %}
        <title>Proxima | {{ page.title }}</title>
    {% else %}
        <title>Ankit | Proxima</title>
    {% endif %}

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>


    {{ content }}


</body>

</html>
